.homepage {
    
    .slider {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        &__item-wrap {
            width: 100%;
            height: 100%;
            .flickity-viewport {
                height: 100% !important;
            }
            .slider__item {
                width: 100%;
                height: 100%;
                position: relative;
                &::before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: #000;
                    opacity: 0.2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 10;
                }
                &-text {
                    width: 60%;
                    text-align: center;
                    color: white;
                    position: absolute;
                    text-transform: uppercase;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 11;
                    .title {
                        color: white;
                        font-size: 70px;
                        font-family: eb-rg;
                        text-align: center;
                        text-transform: uppercase;
                        margin-bottom: 30px;
                        line-height: normal;
                        &::after {
                            content: "";
                            background: white;
                            display: block;
                            width: 80%;
                            height: 1px;
                            margin: 0 auto;
                        }
                    }
                    .des {
                        font-size: 12px;
                        font-family: Arial;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-top: 20px;
                        margin-bottom: 30px;
                        @include xs {
                            margin-top: 20px;
                            margin-bottom: 20px;
                        }
                    }
                }
                &-img {
                    min-height: 100%;
                    min-width: 100%;
                    object-fit: cover;
                    overflow: hidden;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                }
            }
        }
        &__bottom {
            width: 100%;
            position: absolute;
            bottom: 20px;
            left: 0;
            z-index: 10;
            .container-fluid {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .mouse {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    &__img {
                        justify-content: center;
                        align-items: center;
                        
                    }
                    &__arrow {
                        height: 120px;
                        transition: $t;
                        position: relative;
                        top: -30px;
                        animation: topdown 1s infinite alternate;
                    }
                    .des {
                        text-transform: uppercase;
                        font-family: a-heavy;
                        font-size: 11px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        margin-top: 0px;
                    }
                    @keyframes topdown {
                        from {
                            transform: translateY(0px);
                            opacity: 0;
                        }
                        to {
                            transform: translateY(20px);
                            opacity: 1;
                        }
                    }
                    @include sm {
                        display: none;
                    }
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
                .control {
                    width: 140px;
                    height: 40px;
                    margin-right: 0;
                    display: flex;
                    position: absolute;
                    right: 30px;
                    bottom: 15px;
                    cursor: pointer;

                    &__btn {
                        width: 50%;
                        height: 100%;
                        border: 1px solid #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover {
                            background-color: $yellow-cl;
                            transition: 0.3s;
                            cursor: pointer;
                        }

                        &.--next {
                            margin-right: -1px;
                            cursor: pointer;
                            img {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
        }

        @include md {
            height: 65vh;
            &__bottom {
                .container-fluid {
                    .mouse {
                        display: none;
                    }
                }
            }
        }
        @include sm {
            &__item-wrap {
                .slider__item {
                    &-text {
                        .title {
                            font-size: 70px;
                        }
                        &::after {
                            width: 95%;
                        }
                        .des {
                            font: 10px;
                        }
                    }
                }
            }
            .slider__menu {
                width: 120px;
                height: 170px;
            }
        }
        @include xs {
            height: 60vh;
            .slider__item-wrap {
                .slider__item {
                    display: flex;
                    flex-direction: column-reverse;
                    overflow: hidden;
                    .slider__item-text {
                        width: 80%;
                        .title {
                            font-size: 44px;
                            margin-bottom: 0px;
                            
                            &::after {
                                width: 80%;
                            }
                        }
                        .des {
                            font-size: 10px;
                            font-family: Arial, Helvetica, sans-serif;
                            margin-top: 15px;
                        }
                    }
                    .slider__item-img {
                        max-width: 767px;
                    }
                }
            }
            .slider__bottom {
                .container-fluid {
                    .mouse {
                        display: none;
                    }
                    .control {
                        width: 120px;
                        height: 30px;
                        bottom: 0;
                        right: 15px;
                    }
                }
            }
            .slider__menu {
                display: none;
            }
        }
    }

    .products {
        .container {
            //position: relative;
            .function__room-wrap {
                padding-top: 50px;
                display: flex;
                justify-content: space-between;
                margin-left: -15px;
                margin-right: -15px;
                @include xs {
                    flex-direction: column;
                    margin-left: 0px;
                    margin-right: 0px;
                }
                
                .function__room {
                    width: 50%;
                    padding: 0 15px;
                    @include xs {
                        width: 100%;
                        padding: 0;
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                    .content {
                        p {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            line-height: 40px;
                            text-align: left;
                            margin-bottom: 90px;
                            @include md {
                                margin-bottom: 55px;
                            }
                            @include sm {
                                margin-bottom: 55px;
                            }
                           
                            @media (max-width: 1024px) {
                                margin-bottom: 68px;
                            }
                            @media (max-width: 768px) {
                                margin-bottom: 10px;
                                line-height: 35px;
                            }
                        }
                        h2 {
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 12px;
                            font-weight: bold;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin-bottom: 35px;
                            @include xs{
                                margin-bottom: 10px;
                            }
                        }
                        .image {
                            width: 100%;
                            position: relative;
                            cursor: pointer;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            
                            .texthover {
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                background: $blue-cl;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;
                                opacity: 0;
                                pointer-events: auto;
                                transition: $t;
                                color: #fff;
                                
                                p {
                                    padding-top: 10px;
                                }
                                a {
                                    position: absolute;
                                    text-decoration: none;
                                    font-family: Arial, Helvetica, sans-serif;
                                    color: white;
                                    font-size: 11px;
                                    text-transform: uppercase;
                                    display: flex;
                                    padding-top: 40px;
                                    align-items: center;
                                    justify-content: center;
                                    @include sm {
                                        padding-top: 60px;
                                    }
                                    @include xs {
                                        padding-top: 80px;
                                    }
                                }
                                i {
                                    img {
                                    margin-left: 12px;
                                    }
                                    @include xs {
                                        width: 22px;
                                    }
                                }
                                &:hover {
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    background-color: $blue-cl;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    opacity: 1;
                                    pointer-events: auto;
                                    transition: $t;
                                    color: #fff;
                                    z-index: 1;
                                }
                            }
                            img {
                                display: block;
                                @include sm {
                                    min-width: 100%;
                                }
                            }
                        }
                    }

                    &.--living {
                        width: 50%;
                        
                        @include xs {
                            min-width: 100%;
                            padding-top: 50px;
                        }
                        .content {
                            .image {
                                .texthover {
                                    background-color: $yellow-cl;
                                    &:hover {
                                        background-color: $yellow-cl;
                                    }
                                    img {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    &.--bedroom {
                        width: 50%;
                        @include xs {
                            min-width: 100%;
                        }
                        .content {
                            .image {
                                .texthover {
                                    background-color: $yellow-cl;
                                    &:hover {
                                        background-color: $yellow-cl;
                                    }
                                }
                                img {
                                    display: block;
                                }
                            }
                        }
                    }
                    &.--bathroom {
                        @include xs {
                            padding-top: 50px;
                        }
                        .des {
                            margin-top: 40px;
                            @include md {
                                position: relative;
                            }
                            p {
                                font-family: "eb-ri";
                                font-style: italic;
                                font-size: 18px;
                                color: #fff;
                                position: relative;
                                text-align: right;
                                z-index: 10;
                                line-height: 40px;
                                @include xs {
                                    font-size: 14px;
                                    text-align: center;
                                }
                            }
                            img {
                                
                                margin-top: -60px;
                                margin-left: 350px;
                                display: block;
                                
                                @include md {
                                    position: absolute;
                                    right: 15px;
                                    top: 100px;
                                } 
                                @include xs {
                                    position: absolute;
                                    right: 80px;
                                    top: 200px;
                                }
                            }
                        }
                    }

                    &.--kitchen {
                        width: 100%;
                    }
                }
            }
        }
        
    }
}
