.productpage {
    .banner {
        height: 450px;
        position: relative;
        overflow: hidden;
        .container {
            z-index: 100;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 100%;
            .textbox {
                font-size: 24px;
                font-family: "eb-r";
                line-height: 50px;
                letter-spacing: 1px;
                text-align: right;
            }
        }
        img {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
        }
        .slider__menu {
            top: initial;
            transform: initial;
            bottom: 0;
            left: 0;
            z-index: 100;
        }
        @include sm {
            .slider__menu {
                display: none;
            }
            &__img {
                width: 100%;
            }
            .container {
                .textbox {
                    margin-bottom: 0;
                }
            }
        }
        @include xs {
            height: 250px;
            .container {
                .textbox {
                    padding-right: 0px;
                    font-size: 14px;
                    line-height: initial;
                }
            }
            img {
                width: 100%;
            }
        }
    }
    .product {
        padding: 80px 0;
        &.--project {
            padding: 150px 0;
            @include xs {
                padding: 80px 0;
            }
        }
        .product_top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 50px;
            &.--project {
                border-bottom: 1px solid #000000;
                padding-bottom: 40px;
            }
        }
        &__row {
            border-bottom: 1px solid #ccc;
            padding-bottom: 40px;
            margin-bottom: 40px;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            &.--sub {
                border-bottom: none;
            }
            @include xs {
                padding-bottom: 0;
                .product_top {
                    flex-direction: column;
                    align-items: flex-start;
                    .selection {
                        margin-top: 20px;
                    }
                    .detail {
                        display: flex;
                        padding-left: 85px;
                        margin-top: 10px;
                        align-items: flex-start;
                    }
                }
            }
        }
        .container {
            .product__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-left: -15px;
                margin-right: -15px;
                &-item {
                    width: calc(100% / 3);
                    padding: 0 15px 40px 15px;
                    position: relative;
                    &:after {
                        content: "";
                        width: 1px;
                        height: 92%;
                        background: #ccc;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                    &:nth-child(3n) {
                        &:after {
                            display: none;
                        }
                    }
                    .img {
                        height: 220px;
                        overflow: hidden;
                        position: relative;
                        img {
                            min-width: 100%;
                            min-height: 100%;
                            object-fit: cover;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) scale(1);
                            transition: $t;
                            position: absolute;
                        }

                        &:before {
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            z-index: 10;
                            transition: $t;
                            pointer-events: none;
                            transition: 0.3s;
                        }

                        &:hover {
                            img {
                                transform: translate(-50%, -50%) scale(1.1);
                                transition: 0.3s;
                            }
                            &:before {
                                transition: 0.3s;
                            }
                        }
                    }
                    .title {
                        a {
                        font-weight: bold;
                        margin-bottom: 10px;
                        margin-top: 20px;
                        font-size: 18px;
                        font-family: Arial, Helvetica, sans-serif;
                        text-decoration: none;
                        color: #000;
                        display: block;
                        }
                    }
                    .des {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 12px;
                        margin-bottom: 10px;
                    }
                    &.--sub {
                        &:after {
                            content: "";
                            width: 1px;
                            height: 100%;
                            background: #ccc;
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                    }
                }
            }
            .product__view {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #ccc;
                
                .arrow {
                    position: relative;
                    width: 30px;
                }
                a {
                    text-transform: uppercase;
                    color: #ccc;
                    font-family: a-heavy;
                    font-size: 11px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-top: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    
                }
            }
            .product__bottom {
                margin-top: 60px;
                justify-content: center;
                text-align: center;
                align-items: center;
                p {
                    font-family: "eb-rg";
                    font-size: 20px;
                    text-transform: uppercase;
                    margin: auto;
                    padding-bottom: 20px;
                    font-weight: bold;
                }
                .des {
                    font-family: Arial;
                    font-size: 12px;
                    line-height: 20px;
                    max-width: 690px;
                    margin: auto;
                    padding-bottom: 30px;
                }
            }
        }
        @include sm {
            .container {
                .product__view {
                    a {
                        margin-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
        @include xs {
            padding: 50px 0;
            .container {
                .product__intro {
                    display: flex;
                    margin-right: 0;
                    &-number {
                        font-size: 60px;
                        line-height: 44px;
                        padding-right: 0;
                    }
                    &-textbox {
                        margin-left: 0;
                        h2 {
                            margin-bottom: 10px;
                        }
                    }
                    &.--prode {
                        margin: auto;
                        &-textbox {
                            margin: auto;
                        }
                    }
                }
                .product__list {
                    display: flex;
                    flex-direction: column;
                    &-item {
                        width: 100%;
                        border-right: initial;
                        .img {
                            height: 0;
                            padding-bottom: 63%;
                        }
                    }
                }
                .product__view {
                    a {
                        margin-top: 0;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    @include sm {
        .slider__menu {
            display: none;
        }
    }
}


